@model List<FlashCard>

<div class="container">

    <table class='table table-striped'>
        <tr>
            <th>Front Text</th>
            <th>Back Text</th>
            <th>Actions</th>
        </tr>
        @foreach (var flashCard in Model)
        {
            <tr>
                <td>@flashCard.FrontText</td>
                <td>@flashCard.BackText</td>
                <td>
                    <a asp-controller="FlashCard" asp-action="EditCard" asp-route-id="@flashCard.FlashcardId">Edit</a>
                    <a asp-controller="FlashCard" asp-action="DeleteCard" asp-route-cardId="@flashCard.FlashcardId" asp-route-setId="@flashCard.CardsetId">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>