@model List<FlashCard>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" asp-href-include="~/css/createCard.css">
    <title>FlashCards</title>
</head>
<body>

<div class="container">
    <h1>@ViewBag.CurrentViewName</h1>
    @foreach (var flashcard in Model)
    {
        <div class="container pt-3 bg-light" style="display: flex; justify-content: center">
            <div class="flippable">
                <div class="flip-card-inner">
                    <div class="flip-card-frontside">
                        <h3 id="FrontSpinText">@flashcard.FrontText</h3>
                        <img src=""></img>
                        <div id="frontSidePreview">

                        </div>
                    </div>
                    <div class="flip-card-backside">
                        <h3 id="BackSpinText">@flashcard.BackText</h3>
                        <img src=""></img>
                        <div id="backSidePreview"></div>
                    </div>
                </div>
            </div>
        </div>
    }
    @*<table class="table table-striped">
        <tr><th>CardId</th><th>FrontText</th></tr>
        @foreach (var flashcard in Model)
        {
            <tr>
                <td>@flashcard.CardId</td>
                <td>@flashcard.FrontText</td>
            </tr>
        }
    </table>*@
    
</div>
</body>
</html>